<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.cuisineaz.com/680x357/i130849-.jpeg);">
  <div class="container">
    <h1>Create, Update, Read or Delete your favorite CocKtail !</h1>
    <p>Change your life and learn to do Mojitos at one of our campuses around the world.</p>
    <%= link_to 'Create a new Cocktail', new_cocktail_path(), class: 'btn btn-gradient'  %>
  </div>
</div>



<div class="cards">
    <% @cocktails.each do |cocktail| %>
  <div class="card" style="background-image: url(https://www.gall.nl/dw/image/v2/BCLJ_PRD/on/demandware.static/-/Sites-gall-storefront-catalog/default/dw60b345e8/tequila%20sunrise%20header.jpg?sw=600)">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
    <% end %>
</div>
