<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.cuisineaz.com/680x357/i130849-.jpeg);">
  <div class="container">
    <h1>Create, Update, Read or Delete your favorite CocKtail !</h1>
    <p>Change your life and learn to do Mojitos at one of our campuses around the world.</p>
    <%= link_to 'Create a new Cocktail', new_cocktail_path(), class: 'btn btn-gradient'  %>
  </div>
</div>


<body>
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <% @cocktails.each do |cocktail| %>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><%= cocktail.name %></h4>
              <h6 class="card-subtitle text-muted">*****</h6>
              <p class="card-text p-y-1"></p>
              <a href="#" class="card-link"></a>
              <%= link_to 'View details of this cocktail', cocktail_path(cocktail) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>
