#title {
  font-size: 100px;
  color: white;
}

.banner {
  background-image: url("https://static.cuisineaz.com/680x357/i130849-.jpeg");
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#link {
  background-color: rgb(253, 14, 20);
  border-radius: 10px;
  color: white;
}
